:root {
<<<<<<< Updated upstream
  --white-color: black;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
=======
>>>>>>> Stashed changes
}
