.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15%;

}

.header .headerList {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header .headerList>strong {
    cursor: pointer;
    width: 110px;
}

.header .headerIcon {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
}

.header .contentRightHeader {
    display: flex;
    flex-direction: column;
}

.header .headerLogo {
    display: flex;
    width: 100%;
    column-gap: 30px;
}